{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <script src="https://unpkg.com/notie"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style type="text/css">
        button.bettingbutton{
            width: 100%;
        }


        div img {
            margin:15px;
        }
    </style>

    <title>
        {{block "title" .}}

        {{end}}
    </title>
    {{block "css" .}}

    {{end}}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Poker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/poker">Poker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mobilepoker">Mobile Poker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>

                </ul>
            </div>
        </nav>

    {{block "content" .}}

    {{end}}


    <script>
        function popup(type, title, text){
            Swal.fire({
                icon: type,
                title: title,
                text: text,
            })
        }

        function temppopup(type, title, text, pos, sec){
            Swal.fire({
                icon: type,
                title: title,
                text: text,
                showConfirmButton: false,
                timer: sec*1000,
                position: pos,
            })
        }
        {{with .Flash}}
            popup("success", "Success", "{{.}}")
        {{end}}
        {{with .Warning}}
            popup("warning", "Warning", "{{.}}")
        {{end}}
        {{with .Error}}
            popup("error", "Error", "{{.}}")
        {{end}}
        {{with .Info}}
            popup("info", "Info", "{{.}}")
        {{end}}
        {{with .NotieFlash}}
            notie.alert({type: "success", text: "{{.}}", stay: true})
        {{end}}
        {{with .NotieWarning}}
            notie.alert({type: "warning", text: "{{.}}", stay: true})
        {{end}}
        {{with .NotieError}}
            notie.alert({type: "error", text: "{{.}}", stay: true})
        {{end}}
        {{with .NotieInfo}}
            notie.alert({type: "info", text: "{{.}}", stay: true})
        {{end}}

    </script>
    

    {{block "js" .}}
    {{end}}
</body>

</html>
{{end}}