{{template "base" .}}

{{define "title"}}
    Control
{{end}}


{{define "content"}}
<h1>Control</h1>
<form method="post" name="controlbutton">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <button type="submit" formaction="/control/reset" class="btn btn-primary">Reset Poker Repo</button>
</form>
{{end}}


{{define "js"}}
{{end}}


<script>
    $('#control').addClass("active")
    $('#control').attr("aria-current", "page")
</script>