{{template "base" .}}

{{define "title"}}
    Contact
{{end}}

{{define "content"}}
    <h1>Contact</h1>
    <p>
        Mail: shohei.11410723s@gmail.com
    </p>
{{end}}

<script>
    $('#contact').addClass("active")
    $('#contact').attr("aria-current", "page")
</script>
