{{template "base" .}}

{{define "title"}}
    Mobile Poker Page
{{end}}


{{define "content"}}
    {{$playerdata := .Data.player}}
    <div id="table" padding=10>
        <h2>Pocket Cards</h2>
        {{with $playerdata.pocketCards}}
            {{if eq .card1.Num 0}}
                <img src="/static/cardsIMG/backside.jpg" id="Card1" width=200>
                <img src="/static/cardsIMG/backside.jpg" id="Card2" width=200>
            {{else}}
                <img src="/static/cardsIMG/{{- .card1.Num -}}_of_{{- .card1.Suit -}}.png" id="Card1" width=200>
                <img src="/static/cardsIMG/{{- .card2.Num -}}_of_{{- .card2.Suit -}}.png" id="Card2" width=200>
            {{end}}
        {{end}}
    </div>
    <div class="bettingbuttons">
        {{if $playerdata.isPlaying}}
        <form method="post" name="betform">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="form-inline-block">
                <button type="submit" formaction="/mobilepoker/action/check" class="btn btn-primary">Check</button>
                <label class="control-label">Bet Size: 
                    <input type="text" class="form-control" style="display: inline; width: auto; vertical-align: middle;" name="Bet">
                </label>
                <button type="submit" formaction="/mobilepoker/action/call" class="btn btn-primary">Call</button>
                <button type="submit" formaction="/mobilepoker/action/fold" class="btn btn-primary">Fold</button>
                <button type="submit" formaction="/mobilepoker/action/all-in" class="btn btn-primary">All in</button>
            </div>
        </form>
        {{else}}
            <p>Please wait for the next game!</p>
        {{end}}
    </div>
    
    <h2>Your data</h2>
    <div id="bet">
        <p>Your Bet Size: <span id="playerBetSize">{{$playerdata.bet}}</span></p>
    </div>
    <div id="stack">
        <p>Your Stack Size: <span id="playerStack">{{$playerdata.stack}}<span></p>
    </div>
    <div>
        {{$p := $playerdata.playerSeat}}
        {{if eq $p "Preset Player"}}
            <form action="/mobilepoker/init" method="post" style="display: inline;">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <select class="form-control" name="PlayerSeat">
                    <option value="Player1">Player1</option>
                    <option value="Player2">Player2</option>
                    <option value="Player3">Player3</option>
                    <option value="Player4">Player4</option>
                    <option value="Player5">Player5</option>
                    <option value="Player6">Player6</option>
                    <option value="Player7">Player7</option>
                    <option value="Player8">Player8</option>
                    <option value="Player9">Player9</option>
                </select>
                <input type="submit" class="btn btn-primary" value="Init">
            </form>
        {{else}}
            <p>Player Seat: {{$p}}</p>
        {{end}}
    </div>
    <h2>Present Player</h2>
    <div>
        <p>Now Playing: <span id="decisionMaker">

        </span></p>
    </div>
    <h2>Raiser Data</h2>
    {{if $playerdata.isPlaying}}
        <div>
            <p>Raiser: <span id="originalRaiser"></span></p>
            <p>Bet Size: <span id="betSize"></span></p>
        </div>
    {{end}}
    {{with .Success}}
        <div class="betsuccess">
            <div class="centering">
                <img src="/static/images/rocking-horse.gif" style="margin: 0px 0px 15px 0px; height: 95%; object-fit: contain;">
                {{.}}
            </div>
        </div>
    {{end}}

{{end}}

{{define "js"}}
    <script>
    {{$p := .Data.player.playerSeat}}
    {{$repo := .Data.repo}}
    {{if ne .Data.player.pocketCards.card1.Num 0}}
        notie.alert({ type: 'info', text: {{$repo.phase}}, stay: true})
        if (player === nowPlayer) {
            text = {{$repo.originalRaiser}} + " bet " + {{$repo.bet}} + " dollars"
            popup("info", "Your Turn", text)
        } else {
            text = nowPlayer + " is playing"
            temppopup("info", "Info", text, "center", 1)
        }
    {{end}}
    let player = {{$p}}
    let nowPlayer 
    let jqXHRWBD  // a jqXHR for mobileWaitingBetData
    let jqXHRWT  // a jqXHR for waitingTurn
    {{if ne $p "Preset Player"}}
        console.log("Waiting Ajax");
        jqXHRWBD = mobileWaitingBetData(jqXHRWBD, player, nowPlayer);
        jqXHRWT = mobileWaitingTurn(jqXHRWT, jqXHRWBD);
    {{end}}
    </script>
{{end}}

<script>
    $('#mobile').addClass("active")
    $('#mobile').attr("aria-current", "page")
</script>