{{template "base" .}}

{{define "title"}}
    Poker
{{end}}


{{define "content"}}
    <div id="table" padding=10></div>
    <div id="buttons">
        <a href="/poker/start" class="btn btn-primary">Start Game</a>
        <a href="/poker/reset" class="btn btn-primary">Reset Game</a>
        <a href="/poker/next" class="btn btn-primary">Next Game</a>
        <button type="button" class="btn btn-primary" onclick="frop()">Frop</button>
        <button type="button" class="btn btn-primary" onclick="turn()">Turn</button>
        <button type="button" class="btn btn-primary" onclick="river()">River</button>
    </div>
    <div>
        <p>Bet size: </p>
        <p id="betsize"></p>
        <p>Pot size: </p>
        <p id="potsize"></p>
        <button type="button" class="btn btn-primary" id="reload">Reload</button>
    </div>
{{end}}


{{define "js"}}
    <script>
        displayCards();
        waitingPhase();
        function displayCards(){
            let N = 5;
            let text = "";
            //fill from 0 to 51
            for(let i = 0; i < N; i++) {
                //imgタグのid属性を、”number+suit”の文字列として、裏面を表示する
                text += '<img src="/static/cardsIMG/backside.jpg" id="Card' + i + '" width=200>';
            }
            document.getElementById("table").innerHTML = text;
        };
        function frop(cards){
            $.each(cards, function(index, card){
                //カードを裏の画像から表の画像に切り替える
                $("#Card"+index).attr('src', "/static/cardsIMG/" + card.Num + "_of_" + card.Suit + ".png");
            })
        };
        function turn(card){
            //カードを裏の画像から表の画像に切り替える
            $("#Card3").attr('src', "/static/cardsIMG/" + card.Num + "_of_" + card.Suit + ".png");
        };
        function river(card){
            //カードを裏の画像から表の画像に切り替える
            $("#Card4").attr('src', "/static/cardsIMG/" + card.Num + "_of_" + card.Suit + ".png");
        };
        function navResult(){
            popup("info", "Result", '<a href="/poker/result">Result page</a>')
        };
        function waitingPhase() {
            $.ajax({
            url: '/poker/waitingphase',
            dataType: 'json',
            success: function(data) {
                switch (data["Function"]){
                    case "frop":
                        frop(data["Cards"]);
                        break;
                    case "turn":
                        console.log(data);
                        turn(data["Card"]);
                        break;
                    case "river":
                        river(data["Card"]);
                        break
                    case "result":
                        navResult();
                }
                waitingPhase()
            },
            error: function(data) {
                alert('error');
            }
            });
        };
        $(function() {
        });

    </script>

    <script>
        $(function() {
            $('#reload').click(
            function() {
                $.ajax({
                url: '/getpotdata',
                dataType: 'json',
                success: function(data) {
                    $('#betsize').text(data["betsize"]);
                    $('#potsize').text(data["potsize"]);
                },
                error: function(data) {
                    alert('error');
                }
                });
            }
            );
        });
    </script>
{{end}}