{{template "base" .}}

{{define "title"}}
    Poker
{{end}}


{{define "content"}}
    <div id="table" padding=10>
        <h2>Community Cards</h2>
        {{with .Data.repo.communityCards}}
            {{range $i, $v := .}}
                {{if eq $v.Num 0}}
                    <img src="/static/images/cardsIMG/backside.jpg" id="CommunityCard{{- $i -}}">
                {{else}}
                    <img src="/static/images/cardsIMG/{{- $v.Num -}}_of_{{- $v.Suit -}}.png" id="CommunityCard{{- $i -}}">
                {{end}}
            {{end}}
        {{end}}
    </div>
    <div class="buttons">
        <a href="/poker/start" class="btn btn-primary">Start Game</a>
        <a href="/poker/reset" class="btn btn-primary">Reset Game</a>
        <a href="/poker/next" class="btn btn-primary">Next Game</a>
    </div>
    <div>
        <p>Bet size: </p>
        <p id="betsize"></p>
        <p>Pot size: </p>
        <p id="potsize"></p>
    </div>
{{end}}


{{define "js"}}
    <script>
        let jqXHR;
        jqXHR = waitingPhase(jqXHR);
    </script>
{{end}}


<script>
    $('#poker').addClass("active")
    $('#poker').attr("aria-current", "page")
</script>